.points {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0px;
  height: 90px;
  width: 200px;
  top: 15px;
  justify-content: center;
  border: 2px solid black;
  align-items: center;
}
.points h2 {
  color: brown;
  font-size: 20px;
}

@media (max-width: 926px) {
  .points {
    position: absolute;
    top: -100px;
  }
}
@media (max-width: 500px) {
  .points {
    position: absolute;
    left: 20%;
  }
}
